/*Navigation*/
.navbar {
  display: flex;
  align-items: center;
}

/*
.navitems {
  border-left: #222222 2px solid;
}
*/

/*Content*/
/*Container for pages in app*/
.content-container {
  margin-left: 2%;
  margin-right: 2%;
}

/*Container for items in pages*/
.item-container {
  margin: 4px;
  border: solid #222222 2px;
  padding: 2px;
  max-width: 600px;
}

/*Aligns two items in container opposite each other*/
.item-header-container {
  display: flex;
  justify-content: space-between;
}

/*Margin matches item-container, TODO: separate when needed */
.search-container,
.button-container {
  margin: 4px;
}

.clickable:hover {
  cursor: pointer;
}

/*Background colors for different schools of magic*/
.color-beasts {
  background-color: rgba(255, 69, 0, 0.75);
}

.color-death {
  background-color: rgba(128, 0, 128, 0.75);
}

.color-fire {
  background-color: rgba(255, 0, 0, 0.75);
}

.color-heavens {
  background-color: rgba(30, 144, 255, 0.75);
}

.color-life {
  background-color: rgba(50, 205, 50, 0.75);
}

.color-light {
  background-color: rgba(255, 255, 240, 0.75);
}

.color-metal {
  background-color: rgba(255, 215, 0, 0.75);
}

.color-shadows {
  background-color: rgba(105, 105, 105, 0.75);
}
