/*Navigation*/

.navbar {
  display: flex;
  align-items: center;
}

/*
.navitems {
  border-left: #222222 2px solid;
}
*/

/*Content*/

/*Container for pages in app*/

.content-container {
  margin-left: 2%;
  margin-right: 2%;
}

.columns {
  columns: 3;
}

@media (max-width: 1600px) {
  .columns {
    columns: 2;
  }
}

@media (max-width: 1050px) {
  .columns {
    columns: 1;
  }
}

.item-container {
  vertical-align: top;
  display: inline-block;
  margin: 5px;
  border: solid #222222 2px;
  padding: 5px;
  width: 500px;
}

@media only screen and (max-device-width: 400px) {
  .item-container {
    min-width: 98%;
  }
}

/**/
.spell-group-container {
  vertical-align: top;
  display: inline-block;
  margin: 5px;
  border: solid #222222 2px;
  padding: 5px;
  max-width: 500px;
}

.spell {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  border: solid #222222 2px;
  padding: 5px;
  max-width: auto;
  min-width: 30%;
}

/*Aligns two items in container opposite each other*/

.item-header-container {
  display: flex;
  justify-content: space-between;
}

/*Margin matches item-container, TODO: separate when needed */

.search-container,
.button-container {
  margin: 4px;
}

.clickable:hover {
  cursor: pointer;
}

.talent {
  background-color: rgba(35, 95, 200, 0.8);
}

.skill {
  background-color: rgba(150, 20, 20, 0.9);
}

/*Darker background*/

.bg-darker {
  filter: grayscale(25%);
}

/*Background colors for different schools of magic*/

.color-beasts {
  background-color: rgba(255, 69, 0, 0.75);
}

.color-death {
  background-color: rgba(128, 0, 128, 0.75);
}

.color-fire {
  background-color: rgba(255, 0, 0, 0.75);
}

.color-heavens {
  background-color: rgba(30, 144, 255, 0.75);
}

.color-life {
  background-color: rgba(50, 205, 50, 0.75);
}

.color-light {
  background-color: rgba(255, 255, 240, 0.75);
}

.color-metal {
  background-color: rgba(255, 215, 0, 0.75);
}

.color-shadows {
  background-color: rgba(105, 105, 105, 0.75);
}

.color-arcane {
  background-color: rgba(162, 162, 236, 0.75);
}

.color-hedgecraft {
  background-color: rgba(86, 75, 86, 0.75);
}

.color-daemonology {
  background-color: rgba(165, 30, 30, 0.85);
}

.color-necromancy {
  background-color: rgba(100, 60, 150, 0.85);
}

.color-witchcraft {
  background-color: rgba(50, 90, 50, 0.80);
}

.color-slaanesh {
  background-color: rgba(120, 30, 120, 0.95);
}

.color-nurgle {
  background-color: rgba(30, 105, 20, 0.90);
}

.color-tzeentch {
  background-color: rgba(85, 220, 220, 0.85);
}
